:root {
  --primary: #1de9b6;
  --danger: #ff5252;
  --warning: #ffca28;
  --info: #2979ff;
  --success: #00e676;
  --dark-bg: #121212;
  --card-fill: #1e1e1e;
  --text-white: #ffffff;
  --text-dim: #b0b0b0;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--dark-bg);
  color: var(--text-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Common Components */
.input-card {
  background-color: var(--card-fill);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid #333;
  max-width: 500px;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}

.btn {
  background-color: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 10px 30px;
  margin: 10px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
}

.btn:hover {
  background-color: var(--primary);
  color: #000;
}
.btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #555;
  background: #2a2a2a;
  color: white;
  width: 80%;
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: center;
}

.profile-img-wrap {
  width: 140px;
  height: 140px;
  margin: 0 auto 12px auto;
  border-radius: 18px;
  overflow: hidden;
  border: 1px solid #333;
  background: #111;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* key */
  object-position: top; /* or center */
  display: block;
}
